@media only screen and (min-width: 738px and max-width: 1200px) {
  #navigation {
    width: 80%;
    font-size: 40px;
    text-align: center;
  }

.resumeHeading {
font-size: 50%;
margin-right: 10%;
}

.indexMiddleSection {
width: 80%;
}
h3 {
float: left;
background-color: pink;
}
}

@media only screen and (min-width: 600px and max-width: 1200px) {
  #navigation {
    width: 100%;
    font-size: 60px;
  }
  .gamesParagraphs {
    width: 80%;
    margin-left: 10%;
  }
  #top10Title {
    text-align: center;
    font-size: 50px;
    color: white;
    width: 70%;
    height: 70%;
    text-decoration: none;
}
img {
    width: 70%;
    height: auto;
    display: block;
}
}
