#wrapper {
  width: 730px;
  height: 530px;
  background-color: gray;
  margin:0 auto;
  overflow: hidden;
  border-radius: 2px;
}

#map {
  width: 700px;
  height: 500px;
  background-color: #ccc;
  margin: 15px auto;
}
