@media only screen and (min-width: 1000px and max-width 1200px) {
  #navigation {
    width: 80%;
    font-size: 40px;
    text-align: center;
  }
  #name {

}
#indexBackground {

}
.resumeHeading {

}
.indexMiddleSection {

}
}

@media only screen and (min-width 1000px) {
  #navigation {
    width: 100%;
    font-size: 60px;
  }
  #name {

  }
  .gamesParagraphs {

  }
  #top10Title {
    
}

}
