#navigation {
  text-align: center;
  font-family: comic;
  font-size: 2rem;
}
#name {
  text-align: center;
  background: slateBlue;
  color: white;
}
h3
{
color: white;
background: forestGreen;
}

.resumeHeading {
  text-align: center;
  background: gold;
}

#top10Title {
  text-align: center;
  color: white;
  background: deepSkyBlue;
  font-size: 80px;
}
#videoGameBackground
 {
  background-image: url("media/videoGameBackground.jpg");
}
.gamesParagraphs p {
  color: white;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

#anxietyBackground
 {
 background-image: url("media/anxietyBackground.jpg")
}
.video {
  text-align: center;
  max-width: 100%;
  height: auto;
}
.anxietyParagraphs p{
  text-align: center;
  font-size: 2rem;
  font-family: 'Srisakdi', cursive
}
.middleFirstAnxietySection
{
  text-align: center;
  font-size: 2rem;
  font-family: monospace;
}
.middleSecondAnxietySection
{
  text-align: center;
  font-size: 2rem;
  font-family: monospace;
}
.middleThirdAnxietySection
{
  text-align: center;
  font-size: 2rem;
  font-family: monospace;
}
#mentalHealthAwarenessTitle
{
  font-size: 5rem;
  text-align: center;
  background: pink;
  color: white;
}
#anxietyDisordersTitle
{
  text-align: center;
  font-size: 4rem;
  color: slateBlue;
  font-family: 'Sniglet', cursive;
}
.anxietyImage
{
  text-align: center;
}
